@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap");
@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Satoshi", var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body { font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji"; }

html { font-size: clamp(14px, 1.1vw + 10px, 16px); }

